<div class="container">
    <div class="row">
        <h2 class="text-center" id="python"><b>Python</b></h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card h-100 text-white bg-dark">
                <img src="img/python-logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">ToDoList(web-приложение)</h5>
                    <p class="card-text">Web-приложение, позволяющее вести список задач, умеющее сортировать их по
                        важности и дате выполнения. Также ведет небольшую статистику.</p>
                </div>
                <div class="card-footer border-dark">
                    <a target="_blank" href="https://github.com/G4st3r21/ToDoList_WEB_Edition"
                       class="btn btn-secondary">Просмотреть
                        на github.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 text-white bg-dark">
                <img src="img/python-logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">CyberPrank2088(Игра)</h5>
                    <p class="card-text">2D платформер, написанный на движке pygame, обладающий несколькими механиками
                        такими, как здоровье и уровень героев, стрельба, разные оружия и т.д.)</p>
                </div>
                <div class="card-footer border-dark">
                    <a target="_blank" href="https://github.com/G4st3r21/CyberPrank2088" class="btn btn-secondary">Просмотреть
                        на github.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 text-white bg-dark">
                <img src="img/python-logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Telebot(Бот-помощник для телеграма)</h5>
                    <p class="card-text">Телеграм-бот, основнанный на библиотеке aiogram, умеющий отвечать на простые
                        фразы (с помощью Google Tensorflow), уведомляющий о погоде и актуальных новостях.</p>
                </div>
                <div class="card-footer border-dark">
                    <a target="_blank" href="https://github.com/G4st3r21/Telebot" class="btn btn-secondary">Просмотреть
                        на
                        github.com</a>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 more">
            <button class="btn btn-outline-light" type="button">Больше</button>
            <button class="btn btn-outline-light" type="button" style="display: none">Меньше</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2 class="text-center" id="java"><b>Java</b></h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card h-100 text-white bg-dark">
                <img src="img/java-logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Task_11(Работа со строками)</h5>
                    <p class="card-text">Закодировать текст следующим образом: в каждом слове переставить
                        буквы в обратном порядке. Словом считается непрерывная последовательность символов (строчных и
                        прописных) А-Я, A-Z и цифр.</p>
                </div>
                <div class="card-footer border-dark">
                    <a target="_blank" href="https://github.com/G4st3r21/Task_11" class="btn btn-secondary">Просмотреть
                        на github.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 text-white bg-dark">
                <img src="img/java-logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Task_12(Рекурсия)</h5>
                    <p class="card-text">Нарисовать (в BufferedImage с использованием Graphics2D) и показать на форме (с
                        возможность сохранить в файл) определенную фигуру. Задается размер фигуры (изображения) и
                        глубина рекурсии.</p>
                </div>
                <div class="card-footer border-dark">
                    <a target="_blank" href="https://github.com/G4st3r21/Task_12" class="btn btn-secondary">Просмотреть
                        на github.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 text-white bg-dark">
                <img src="img/java-logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Task_13(Игра "Перекраска")</h5>
                    <p class="card-text">Цель игры - закрасить все поле одним цветом путем "захвата" клетки одного цвета
                        близлежащих клеток такого же цвета .</p>
                </div>
                <div class="card-footer border-dark">
                    <a target="_blank" href="https://github.com/G4st3r21/Task_13" class="btn btn-secondary">Просмотреть
                        на github.com</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 more">
        <button class="btn btn-outline-light" type="button">Больше</button>
        <button class="btn btn-outline-light" type="button" style="display: none">Меньше</button>
    </div>
</div>


<div class="container">
    <div class="row">
        <h2 class="text-center" id="cpp"><b>C++</b></h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card h-100 text-white bg-dark">
                <img src="img/cpp-logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Lab_1</h5>
                    <p class="card-text">Обычный калькулятор в консоли</p>
                </div>
                <div class="card-footer border-dark">
                    <a target="_blank" href="https://github.com/G4st3r21/Lab_1" class="btn btn-secondary">Просмотреть на
                        github.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 text-white bg-dark">
                <img src="img/cpp-logo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Lab_2</h5>
                    <p class="card-text">Просчет суммы бесконечных элементов по определенной формуле в консоли.</p>
                </div>
                <div class="card-footer border-dark">
                    <a target="_blank" href="https://github.com/G4st3r21/Lab_2" class="btn btn-secondary">Просмотреть на
                        github.com</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 more">
        <button class="btn btn-outline-light" type="button">Больше</button>
        <button class="btn btn-outline-light" type="button" style="display: none">Меньше</button>
    </div>
</div>
